<%- include("commons/header.ejs") -%>
<p>
  Hello, My name is Swasthik. I am a student persuing my Bachelors in Computer
  Science and Technology Engineering from Manipal Institute of Technology. This
  is a site implemented as a project. This website helps you to keep a TODO LIST
  for yourself for various tasks. You can have several lists related to
  work,household etc. Each of the lists has a list of works you have to do. You
  can add new tasks to the list as well as delete it once you are done. If you
  like this and want to continue to keep track of your progress you can signup
  using your facebook or gmail and progress. Happy productivity.
</p>
<%- include("commons/footer.ejs") -%>
