<%- include("commons/header.ejs") -%>
<section>
  <div class="row">
    <h5>You can contact me at</h5>
    <div class="social-links">
      <a href="mailto:swasthik0304@gmail.com" target="__blank"
        ><i class="fa fa-envelope" aria-hidden="true"> Mail me here</i></a
      >
      <a href="twitter" target="__blank"
        ><i class="fa fa-twitter" aria-hidden="true"> Twitter</i></a
      >
      <a href="call" target="__blank"
        ><i class="fa fa-phone" aria-hidden="true"> 7019278256</i></a
      >
      <a href="linkedIn" target="__blank"
        ><i class="fa fa-linkedin" aria-hidden="true"> LinkedIn</i></a
      >
    </div>
  </div>
</section>
<%- include("commons/footer.ejs") -%>
