<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/styles.css" />
    <title>To Do List</title>
    <script src="https://use.fontawesome.com/1bb5235515.js"></script>
  </head>
  <body>
    <nav>
      <div class="topnav">
        <a href="/"><i class="fa fa-home fa-fw" aria-hidden="true"></i>&nbsp; LOGO</a>
        <div class="navbar">
          <a class="active" href="/">Home</a>
          <a href="/contactus">Contact</a>
          <a href="/aboutus">About</a>
          <a href="/user"><span class="fa fa-user fa-fw"></span></a>
        </div>
      </div>
    </nav>
  </body>
</html>
